@model Spending.Models.AccountModel

@{ string currencyFormat = "#,##0.00"; }

<tr class="itemRow">
	<td>
		@Html.ActionLink(Model.Name, "Index", "Transactions",
			new
			{
				accountId = Model.Id,
				startDate = DateTime.MinValue.ToUrlString(),
				endDate = DateTime.MaxValue.ToUrlString(),
				transactionsPerPage = 30,
				page = 1
			}, null)
		@Html.ActionLink("Edit", "Edit", "AccountSubGroups", new { groupId = Model.Id }, new { @class = "actionLnk" })
	</td>
	<td>@Model.Starting.ToString(currencyFormat)</td>
	<td>@Model.Ending.ToString(currencyFormat)</td>
</tr>